# Imports

In [23]:
#general imports
import pandas as pd
import numpy as np

#statsmodels for regression
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.iolib.summary2 import summary_col

#scipy for testing
from scipy import stats

#for visualization
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime

# Weather Data

Import of the weather data

In [24]:
df_weather = pd.read_csv('../data/weather_hourly_philadelphia.csv')

Change type of "date_time" to datetime

In [25]:
df_weather["date_time"] = pd.to_datetime(df_weather["date_time"])

Ordered weather data by date

In [26]:
df_weather = df_weather.sort_values(by=['date_time'])

Deleted weather date which is not needed for Philadelphia 2017 (<2017 or >2017)

In [27]:
start2017 = datetime(2016, 12, 31, 23)
end2017 = datetime(2018, 1, 1)

df_2017weather = df_weather[(df_weather["date_time"] > start2017) & (df_weather["date_time"] < end2017)]
df_2017weather_unique = df_2017weather.drop_duplicates(subset='date_time')
df_2017weather_unique['Order'] = np.arange(len(df_2017weather_unique))
df_2017weather_unique = df_2017weather_unique.set_index('Order')

df_2017weather_unique.tail(10)

<ipython-input-27-0508696ba8fa>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2017weather_unique['Order'] = np.arange(len(df_2017weather_unique))

                date_time  max_temp  min_temp  precip
Order
8222  2017-12-31 14:00:00      -9.4      -9.4     0.0
8223  2017-12-31 15:00:00      -8.9      -8.9     0.0
8224  2017-12-31 16:00:00      -8.9      -8.9     0.0
8225  2017-12-31 17:00:00      -8.9      -8.9     0.0
8226  2017-12-31 18:00:00      -8.3      -8.3     0.0
8227  2017-12-31 19:00:00      -8.9      -8.9     0.0
8228  2017-12-31 20:00:00      -8.9      -8.9     0.0
8229  2017-12-31 21:00:00      -9.4      -9.4     0.0
8230  2017-12-31 22:00:00     -10.0     -10.0     0.0
8231  2017-12-31 23:00:00     -10.0     -10.0     0.0

Identify missing data and generate by using average data from former and following hour

In [28]:
for i in df_2017weather_unique.index:
    if i == 8231:
        print("End")
    elif (df_2017weather_unique['date_time'][i] - df_2017weather_unique['date_time'][i+1]) != (df_2017weather_unique['date_time'][1] - df_2017weather_unique['date_time'][2]):
        df_2017weather_support = {'date_time': (df_2017weather_unique['date_time'][i] + pd.DateOffset(hours=1)), 'max_temp': (df_2017weather_unique['max_temp'][i] + df_2017weather_unique['max_temp'][i+1])/2, 'min_temp': (df_2017weather_unique['max_temp'][i] + df_2017weather_unique['max_temp'][i+1])/2, 'precip': df_2017weather_unique['precip'][i]}
        df_2017weather_unique = df_2017weather_unique.append(df_2017weather_support, ignore_index=True)

End

New order by date, because we added new lines

In [29]:
df_2017weather_unique = df_2017weather_unique.sort_values(by=['date_time'])
df_2017weather_unique['Order'] = np.arange(len(df_2017weather_unique))
df_2017weather_unique = df_2017weather_unique.set_index('Order')

df_2017weather_unique.tail(10)

                date_time  max_temp  min_temp  precip
Order
8749  2017-12-31 14:00:00      -9.4      -9.4     0.0
8750  2017-12-31 15:00:00      -8.9      -8.9     0.0
8751  2017-12-31 16:00:00      -8.9      -8.9     0.0
8752  2017-12-31 17:00:00      -8.9      -8.9     0.0
8753  2017-12-31 18:00:00      -8.3      -8.3     0.0
8754  2017-12-31 19:00:00      -8.9      -8.9     0.0
8755  2017-12-31 20:00:00      -8.9      -8.9     0.0
8756  2017-12-31 21:00:00      -9.4      -9.4     0.0
8757  2017-12-31 22:00:00     -10.0     -10.0     0.0
8758  2017-12-31 23:00:00     -10.0     -10.0     0.0

Running the same code again because one line is missing

In [30]:
for i in df_2017weather_unique.index:
    if i == 8758:
        print("End")
    elif (df_2017weather_unique['date_time'][i] - df_2017weather_unique['date_time'][i+1]) != (df_2017weather_unique['date_time'][1] - df_2017weather_unique['date_time'][2]):
        df_2017weather_support = {'date_time': (df_2017weather_unique['date_time'][i] + pd.DateOffset(hours=1)), 'max_temp': (df_2017weather_unique['max_temp'][i] + df_2017weather_unique['max_temp'][i+1])/2, 'min_temp': (df_2017weather_unique['max_temp'][i] + df_2017weather_unique['max_temp'][i+1])/2, 'precip': df_2017weather_unique['precip'][i]}
        print(df_2017weather_support)
        df_2017weather_unique = df_2017weather_unique.append(df_2017weather_support, ignore_index=True)

{'date_time': Timestamp('2017-09-17 05:00:00'), 'max_temp': 21.375, 'min_temp': 21.375, 'precip': 0.0}
End

New order by date, because we added new lines

In [31]:
df_2017weather_unique = df_2017weather_unique.sort_values(by=['date_time'])
df_2017weather_unique['Order'] = np.arange(len(df_2017weather_unique))
df_2017weather_unique = df_2017weather_unique.set_index('Order')

df_2017weather_unique.tail(10)

                date_time  max_temp  min_temp  precip
Order
8750  2017-12-31 14:00:00      -9.4      -9.4     0.0
8751  2017-12-31 15:00:00      -8.9      -8.9     0.0
8752  2017-12-31 16:00:00      -8.9      -8.9     0.0
8753  2017-12-31 17:00:00      -8.9      -8.9     0.0
8754  2017-12-31 18:00:00      -8.3      -8.3     0.0
8755  2017-12-31 19:00:00      -8.9      -8.9     0.0
8756  2017-12-31 20:00:00      -8.9      -8.9     0.0
8757  2017-12-31 21:00:00      -9.4      -9.4     0.0
8758  2017-12-31 22:00:00     -10.0     -10.0     0.0
8759  2017-12-31 23:00:00     -10.0     -10.0     0.0

Check if data is complete by checking time difference of following

In [32]:
for i in df_2017weather_unique.index:
    if i == 8759:
        print("Data complete")
    elif (df_2017weather_unique['date_time'][i] - df_2017weather_unique['date_time'][i+1]) != (df_2017weather_unique['date_time'][1] - df_2017weather_unique['date_time'][2]):
        df_2017weather_support = {'date_time': (df_2017weather_unique['date_time'][i] + pd.DateOffset(hours=1)), 'max_temp': (df_2017weather_unique['max_temp'][i] + df_2017weather_unique['max_temp'][i+1])/2, 'min_temp': (df_2017weather_unique['max_temp'][i] + df_2017weather_unique['max_temp'][i+1])/2, 'precip': df_2017weather_unique['precip'][i]}
        print(df_2017weather_support)
        df_2017weather_unique = df_2017weather_unique.append(df_2017weather_support, ignore_index=True)

Data complete

                date_time  max_temp  min_temp  precip
Order
0     2017-01-01 00:00:00      6.10      6.10     0.0
1     2017-01-01 01:00:00      6.10      6.10     0.0
2     2017-01-01 02:00:00      6.70      6.70     0.0
3     2017-01-01 03:00:00      7.20      7.20     0.0
4     2017-01-01 04:00:00      7.80      7.80     0.0
5     2017-01-01 05:00:00      7.80      7.80     0.0
6     2017-01-01 06:00:00      7.80      7.80     0.0
7     2017-01-01 07:00:00      7.20      7.20     0.0
8     2017-01-01 08:00:00      6.70      6.70     0.0
9     2017-01-01 09:00:00      5.60      5.60     0.0
10    2017-01-01 10:00:00      6.10      6.10     0.0
11    2017-01-01 11:00:00      5.60      5.60     0.0
12    2017-01-01 12:00:00      5.00      5.00     0.0
13    2017-01-01 13:00:00      4.40      4.40     0.0
14    2017-01-01 14:00:00      5.60      5.60     0.0
15    2017-01-01 15:00:00      7.20      7.20     0.0
16    2017-01-01 16:00:00      8.90      8.90     0.0
17    2017-01-01 17:00:00      9.40      9.40     0.0
18    2017-01-01 18:00:00     10.00     10.00     0.0
19    2017-01-01 19:00:00     10.00     10.00     0.0
20    2017-01-01 20:00:00     10.60     10.60     0.0
21    2017-01-01 21:00:00     10.00     10.00     0.0
22    2017-01-01 22:00:00      8.90      8.90     0.0
23    2017-01-01 23:00:00      8.30      8.30     0.0
24    2017-01-02 00:00:00      7.20      7.20     0.0
25    2017-01-02 01:00:00      5.60      5.60     0.0
26    2017-01-02 02:00:00      3.90      3.90     0.0
27    2017-01-02 03:00:00      1.10      1.10     0.0
28    2017-01-02 04:00:00      1.70      1.70     0.0
29    2017-01-02 05:00:00      1.10      1.10     0.0
30    2017-01-02 06:00:00      0.00      0.00     0.0
31    2017-01-02 07:00:00      2.20      2.20     0.0
32    2017-01-02 08:00:00      2.20      2.20     0.0
33    2017-01-02 09:00:00      3.30      3.30     0.0
34    2017-01-02 10:00:00      3.30      2.80     1.0
35    2017-01-02 11:00:00      2.80      2.80     1.0
36    2017-01-02 12:00:00      3.30      3.30     1.0
37    2017-01-02 13:00:00      2.80      2.80     1.0
38    2017-01-02 14:00:00      4.40      4.40     1.0
39    2017-01-02 15:00:00      5.00      5.00     1.0
40    2017-01-02 16:00:00      5.60      5.00     1.0
41    2017-01-02 17:00:00      5.85      5.85     1.0
42    2017-01-02 18:00:00      6.10      5.60     1.0
43    2017-01-02 19:00:00      6.10      6.10     1.0
44    2017-01-02 20:00:00      5.60      5.60     1.0
45    2017-01-02 21:00:00      5.60      5.60     1.0
46    2017-01-02 22:00:00      5.60      5.60     0.0
47    2017-01-02 23:00:00      5.30      5.30     0.0
48    2017-01-03 00:00:00      5.00      5.00     0.0
49    2017-01-03 01:00:00      5.00      5.00     0.0